<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CineFans.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CineFans.Web.styles.css" asp-append-version="true" />
</head>
<body class="d-flex">
    <div class="sidebar">
        <a class="nav-link" asp-area="" asp-controller="Movies" asp-action="MoviesWithComments">
            <i class="fas fa-home"></i>
            Home
        </a>
        <a class="nav-link" asp-area="" asp-controller="Movies" asp-action="Index">
            <i class="fas fa-film"></i>
            Movie
        </a>
        <a class="nav-link" asp-area="" asp-controller="Comments" asp-action="Index">
            <i class="fas fa-comment-dots"></i>
            Comment
        </a>
        <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">
            <i class="fas fa-user"></i>
            User
        </a>
    </div>

    <div class="flex-grow-1 p-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <footer class="border-top footer text-muted mt-5">
            <div class="container">
                &copy; 2025 - CineFans.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
